body {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #3b3b3b;
    -webkit-font-smoothing: antialiased;
    background: #8d352b;
  }
  @media screen and (max-width: 580px) {
    body {
      font-size: 16px;
      line-height: 22px;
    }
  }/* REDUZ A TABELA(EM GERAL) NA PÁGINA MINIMIZADA*/
  
  .visual {
    margin: 0 auto;
    padding: 40px;
    max-width: 800px;
  }
  
  .tabela {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
  }
  @media screen and (max-width: 580px) {
    .tabela {
      display: block;
    }
  }/* REDUZ A SOMENTE TABELA NA PÁGINA MINIMIZADA*/
  
  .colunas {
    display: table-row;
    background: #f6f6f6;
  }
  .colunas:nth-of-type(odd) {
    background: #e9e9e9;
  }
  .colunas.cabeçalho {
    font-weight: 900;
    color: #ffffff;
    background: #ea6153;
  }
  .colunas.roxo {
    background: #b4267b;
  }
  .colunas.azul {
    background: #2980b9;
  }
  @media screen and (max-width: 580px) {
    .colunas {
      padding: 14px 0 7px;
      display: block;
    }
    .colunas.cabeçalho {
      padding: 0;
      height: 6px;
    }
    .colunas.cabeçalho .coluna {
      display: none;
    }
    .colunas .coluna {
      margin-bottom: 10px;
    }
    .colunas .coluna:before {
      margin-bottom: 3px;
      content: attr(data-title);
      min-width: 98px;
      font-size: 10px;
      line-height: 10px;
      font-weight: bold;
      text-transform: uppercase;
      color: #969696;
      display: block;
    }
  }
  
  .coluna {
    padding: 6px 12px;
    display: table-cell;
  }
  @media screen and (max-width: 580px) {
    .coluna {
      padding: 2px 16px;
      display: block;
    }
  }/* REDUZ AS COLUNAS DA TABELA NA PÁGINA MINIMIZADA*/